@import "tailwindcss";

:root {
	--font-lora: "Lora", serif;
	--font-satify: "Satisfy", cursive;

	--white-color: #fff;
	--black-color: #000;
	--theme-color: #f2ecdb;
	--title-color: #100c08;
	--text-color: #787878;
	--btn-color: #5c422e;
	--primary-color: #5c412e;
	--primary-color2: #e5c9af;
}

@theme font {
	--font-lora: var(--font-lora);
	--font-satify: var(--font-satify);
	--font-greatvibes: var(--font-greatvibes);
	--font-cinzel-decorative: var(--font-cinzel-decorative);
	--font-mrDafoe: var(--font-mrDafoe);
	--font-baloo: var(--font-baloo);
}

@theme {
	--font-lora: "Lora", serif;
	--font-satisfy: "Satisfy", cursive;
	--font-greatvibes: "Great Vibes", cursive;
	--font-cinzel-decorative: "Cinzel Decorative", serif;
	--font-mr-dafoe: "Mr Dafoe", cursive;
	--font-baloo:"Baloo","san-serif"
	--color-primary: #5c412e;
	--color-secondary: #e5c9af;
	--color-title: #100c08;
	--color-black: #000;
	--color-btn: #5c422e;
	--color-bg-btn-hover: black;
	--color-white-15: rgba(255, 255, 255, 0.15);
	--color-header-light: rgba(255, 255, 255, 0.2);
	--color-header-dark: rgba(0, 0, 0, 0.8);
	--color-text: #787878;

	--breakpoint-xs: 480px;
	--breakpoint-sm: 640px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1280px;
	--breakpoint-2xl: 1536px;
}

@theme {
	--color-primary: var(--primary-color);
	--color-secondary: var(--primary-color2);
	--color-title: var(--title-color);
	--color-black: var(--black-color);
	--color-btn: var(--btn-color);
	--color-bg-btn-hover: black;
	--color-white-15: rgba(255, 255, 255, 0.15);
	--color-header-light: rgba(255, 255, 255, 0.2);
	--color-header-dark: rgba(0, 0, 0, 0.8);
	--color-text-color: var(--text-color);
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--font-lora);
	color: var(--title-color);
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
}

.line-clamp-2 {
	min-height: 3.2rem;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

button {
	cursor: pointer;
}

.shine-effect {
	position: relative;
	overflow: hidden;
}

.shine-effect::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200%;
	height: 0;
	transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	background: rgba(255, 255, 255, 0.3);
	z-index: 10;
	animation: shineEffect 1s ease-out forwards;
}

@keyframes shineEffect {
	0% {
		height: 0%;
		opacity: 1;
	}
	100% {
		height: 300%;
		opacity: 0;
	}
}

@keyframes slideIn {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}
@keyframes slideOut {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-100%);
	}
}
@keyframes slideInRight {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}
@keyframes slideOutRight {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(100%);
	}
}
@keyframes zoomInCenter {
	0% {
		opacity: 0;
		transform: scale(0.3);
	}
	50% {
		opacity: 1;
		transform: scale(1.05);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes zoomOutCenter {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(0.3);
	}
}

@keyframes flipInX {
	0% {
		-webkit-transform: perspective(400px) rotateX(90deg);
		transform: perspective(400px) rotateX(90deg);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0;
	}
	40% {
		-webkit-transform: perspective(400px) rotateX(-20deg);
		transform: perspective(400px) rotateX(-20deg);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	60% {
		-webkit-transform: perspective(400px) rotateX(10deg);
		transform: perspective(400px) rotateX(10deg);
		opacity: 1;
	}
	80% {
		-webkit-transform: perspective(400px) rotateX(-5deg);
		transform: perspective(400px) rotateX(-5deg);
	}
	to {
		-webkit-transform: perspective(400px);
		transform: perspective(400px);
	}
}

@keyframes scrollText {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}

@layer utilities {
	.animate-scrollText {
		animation: scrollText 8s linear forwards;
	}
}

.text-in {
	position: relative;
	color: var(--primary-color1);
}

.text-in::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: var(--primary-color1);
}

.animation-delay-200 {
	animation-delay: 0.2s;
}

.animation-delay-400 {
	animation-delay: 0.4s;
}

.modal-zoom-enter {
	animation: zoomInCenter 1.2s ease-out forwards;
}

.modal-zoom-exit {
	animation: zoomOutCenter 0.5s ease-in forwards;
}

.animate-slideIn {
	animation: slideIn 0.4s ease-in-out forwards;
}
.animate-slideOut {
	animation: slideOut 0.4s ease-in-out forwards;
}
.animate-slideInRight {
	animation: slideInRight 0.5s ease-in-out forwards;
}
.animate-slideOutRight {
	animation: slideOutRight 0.5s ease-in-out forwards;
}

.animate-flipInX {
	animation: flipInX 0.75s linear;
}
